:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  font-family: 'Inter', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  position: relative;
}

a {
  text-decoration: none;
}

/* Header Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 1em;
}

.logo {
  width: 50px;
  height: auto;
}

.overlay {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  inset: 0; 
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  display: none;
}

.desktop-navbar {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
  background-color: var(--off-white);
  width: 65%;
}

.open-menu-btn {
  cursor: pointer;
}
.close-menu-btn {
  align-self: flex-end;
  cursor: pointer;
  margin-bottom: 4.25em;
}

.nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  padding: 0;
  list-style: none;
}


.nav-link {
  color: var(--very-dark-blue);
  font-size: 2rem;
  text-decoration: none;
}

.nav-link:hover, .nav-link:focus {
  color: var(--soft-red);
} 

.main {
  padding: 0em 1em 5em;
}

/* Main Article Styles */

.main-article {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.main-heading {
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1;
}

.main-lead {
  color: var(--dark-grayish-blue);
}

.read-more {
  align-self: flex-start;
  padding: 1em 2em;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 3.5px;
  color: var(--off-white);
  background-color: var(--soft-red);
}

.read-more:focus, .read-more:hover {
  background-color: var(--very-dark-blue);
}

/* Side Articles Styles */

.side-bar {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
  margin: 4em 0 3em;
  padding: 1em 1.25em 1.5em;
  background-color: var(--very-dark-blue);
  height: 100%;
}

.side-bar h2 {
  color: var(--soft-orange);
  font-size: 3rem;
  font-weight: 700;
}

.side-articles {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.side-article {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--grayish-blue);
}

.side-article:last-child {
  padding-bottom: 0;
  border: none;
}

.side-heading {
  color: var(--off-white);
  font-size: 2rem;
  margin-bottom: 0.25em;
}

.side-heading:hover, .side-heading:focus {
  color: var(--soft-orange);
}

.side-lead {
  color: var(--grayish-blue);
  font-size: 1.6rem;
}

/* Ranked Articles Styles */

.top-articles {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.top-article {
  display: flex;
  column-gap: 2em;
}

.article-image {
  width: 100px;
  height: auto;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-rank {
  color: var(--grayish-blue);
  font-size: 3rem;
  font-weight: 700;
}

.article-title {
  color: var(--very-dark-blue);
}

.article-title:hover, .article-title:focus {
  color: var(--soft-red);
}

.article-lead {
  color: var(--dark-grayish-blue);  
}

/* Attribution Styles */
.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
 
/* 1200px size screens and larger */

@media screen and (min-width: 1200px) {
  body {
    padding: 5em 6em 2em;
  }

  /* Header Styles */

  .header {
    padding: 0 1em 2.5em;
    width: 100%;
  }

  .desktop-navbar {
    display: block;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 1.5em;
  }

  .nav-link {
    color: var(--dark-grayish-blue);
  }

  .open-menu-btn, .close-menu-btn{
    display: none;
  }

  .main {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 62% 34%;
    grid-template-areas: 
    "ma sb"                                            
    "ta ta"; 
    column-gap: 0;
    justify-content: space-between;
  }

  /* Main Article Styles */
  .main-content {
    display: grid;
    grid-template-columns:  350px 350px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "mh ml"
    "mh rd";
    justify-content: space-between;
    row-gap: 0;
  }

  .main-heading {
    font-size: 6.0rem;
    grid-area: mh;
    max-width: 350px;
  }

  .main-lead {
    grid-area: ml;
  }

  .read-more {
    grid-area: rd;
    justify-self: start;
    align-self: end;
    padding: 0.75em 2em;
  }

  /* Side Articles Styles */

  .side-bar {
    justify-content: space-evenly;
    grid-area: sb;  
    margin: 0; 
    padding: 0 1.5em;      
  }

  /* Ranked Articles Styles */

  .top-articles {
    grid-area: ta;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3.0em;
    margin-top: 5em;
  }

  .top-article{
    display: grid;
    grid-template-columns: 25% 65%;
  }

  .article-image {
    width: 100%;
    object-fit: contain;
  }
}
